<div class="site-blocks-cover overlay" style="background-image: url(assets/images/img_3.jpg)" data-aos="fade" id="home-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Titre principal -->
      <div class="col-12 text-center mb-5">
        <h2 class="section-title">Importation des Données</h2>
      </div>

      <!-- Importation des utilisateurs -->
     <!-- Importation des utilisateurs -->
<div class="col-md-12 mt-lg-5 d-flex align-items-center">
  <input 
  name="userFilePath"
    type="text" 
    placeholder="Saisissez le lien d'un fichier Excel" 
    class="input-file"
    [(ngModel)]="userFilePath">
  <button (click)="uploadUsers()" class="btn-custom">Importer Users</button>
</div>

<!-- Importation des comptes bancaires -->
<div class="col-md-12 mt-lg-5" style="margin-bottom: 400px;">
  <input 
  name="compteFilePath"
    type="text" 
    placeholder="Saisissez le lien d'un fichier Excel" 
    class="input-file"
    [(ngModel)]="compteFilePath">
  <button (click)="uploadCompteBancaire()" class="btn-custom">Importer Compte Bancaire</button>
</div>

    </div>
  </div>
</div>
