<div
  class="site-blocks-cover overlay"
  style="background-image: url(assets/images/hero_2.jpg)"
  data-aos="fade"
  id="home-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Carousel à gauche -->
      <div class="col-md-6 mt-lg-5">
        <div class="single-text owl-carousel">
          <div class="slide">
            <h1 class="text-uppercase" data-aos="fade-up">Solutions Bancaires</h1>
            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
              Découvrez des solutions bancaires sur mesure pour simplifier la gestion de vos finances,
              que vous soyez particulier ou entreprise, avec un accompagnement personnalisé à chaque étape.
            </p>
          </div>
          <div class="slide">
            <h1 class="text-uppercase" data-aos="fade-up">
              Solutions Financière 
            </h1>
            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
              Explorez nos solutions de financement flexibles et personnalisées, adaptées à vos projets 
              personnels ou professionnels, avec un accompagnement sécurisé à chaque étape.
            </p>
          </div>
          <div class="slide">
            <h1 class="text-uppercase" data-aos="fade-up">Comptes d'Épargne</h1>
            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
              Découvrez nos comptes d'épargne flexibles, conçus pour vous aider à épargner sereinement et 
              atteindre vos objectifs financiers, avec des options sur mesure adaptées à vos besoins.
            </p>
          </div>
        </div>
      </div>

      <!-- Formulaire à droite -->
      <div class="col-md-6">
        <form
          action="#"
          class="p-5"
          style="background-color: transparent; border-radius: 8px">
          <div class="row form-group">
            <div class="col-md-12">
              <input
                type="email"
                id="email"
                name="email"
                [(ngModel)]="email"
                class="form-control"
                placeholder="Email"
                required/>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                class="form-control"
                placeholder="Mot de passe"
                />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input
                type="button"
                value="Se connecter"
                style="font-weight: bold"
                class="btn btn-primary btn-md text-white w-100" (click)="seConnecter()"/>            </div>
          </div>
          <div class="row form-group">
            <!-- Lien Mot de passe oublié -->
            <div class="col-md-12 text-center" >
              <a href="#" class="text-white" style="font-size: 0.9em"
                >Mot de passe oublié ?</a
              >
            </div>
          </div>
          <div class="row form-group">
            <!-- Bouton Créer un compte -->
            <div class="col-md-12">
              <input
                type="button"
                value="Créer un compte"
                class="btn btn-outline-primary btn-md w-100"
                style="border-width: 2px; font-weight: bold"
                routerLink="inscri"/>
            </div>
            </div>

        </form>
      </div>
    </div>
  </div>
</div>
