mat-tab-group {
    margin-top: -250px; /* Ajustez la valeur selon le besoin */
}
.example-tab-icon {
    margin-right: 8px;
  }
  /* Supprimer l'ombre et le fond */
::ng-deep .mat-elevation-z8 {
    background: rgba(239, 234, 234, 0.1) !important;
    box-shadow: none !important;
  }
  .bold {
    font-weight: bold;
  }
  
  .italic {
    font-style: italic;
  }
  
  .underline {
    text-decoration: underline;
  }
  ::ng-deep .mat-mdc-cell,
::ng-deep .mat-mdc-header-cell {
  text-align: center !important;
}
.email-link {
  color: #D35400 !important;
  text-decoration: underline; /* facultatif */
  font-weight: bold;
}