<div
  class="site-blocks-cover overlay"
  style="background-image: url(assets/images/img_1.jpg)"
  data-aos="fade"
  id="home-section">
  <div class="container">
    <div class="row align-items-center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 lower-table ">

          
            <!-- id Column -->
            <ng-container matColumnDef="idCompte">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.idCompte}} </td>
            </ng-container>
            
            <!-- cin Column -->
            <ng-container matColumnDef="cin">
              <th mat-header-cell *matHeaderCellDef> Cin </th>
              <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef> Nom </th>
              <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="prenom">
              <th mat-header-cell *matHeaderCellDef> Prenom </th>
              <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
            </ng-container>
          
            <!-- Type compte Column -->
            <ng-container matColumnDef="type_compte">
              <th mat-header-cell *matHeaderCellDef> Type compte </th>
              <td mat-cell *matCellDef="let element"> {{element.type_compte.replace('_', ' ') }} </td>
            </ng-container>
            <!-- Status Compte Bancaire Column -->
            <ng-container matColumnDef="statusCompteBacaire">
              <th mat-header-cell *matHeaderCellDef> Activation </th>
              <td mat-cell *matCellDef="let element"> {{element.statusCompteBacaire.replace('_',' ')}} </td>
            </ng-container>

            <!-- Status Compte Bancaire Column -->
            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef> Telephone </th>
              <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
            </ng-container>

            <!-- Status Compte Bancaire Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          
        <div class="col-md-12 mt-lg-5">
      </div>
    </div>
  </div>
</div>