.full-width {
    width: 100%;
    margin-top: 20px;
  }
  .full-width-button {
    width: 100%;
  }
  
  .orange-button {
    background-color: #fd7e14 !important;
    color: white !important;
    width: 100%;
  }
  