.mat-dialog-container {
    border-radius: 12px; /* Bord arrondi */
    padding: 20px; /* Espacement interne */
  }
  

  

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end; /* Aligner les boutons à droite */
    gap: 10px; /* Espacement entre les boutons */
  }
  

  .mat-dialog-actions {
    display: flex;
    justify-content: space-between; /* Espacer les boutons */
    gap: 20px; /* Ajouter un espacement entre les boutons */
    padding: 16px; /* Ajouter un peu d'espace autour */
  }
  
  .cancel-btn {
    color: #d32f2f !important; /* Rouge Material */
    font-weight: bold;
    background: white;
    border: 2px solid #d32f2f; /* Encadrer le bouton */
    border-radius: 14px;
    padding: 10px 16px;
  }
  
  .cancel-btn:hover {
    background-color: rgba(211, 47, 47, 0.1); /* Effet au survol */
  }
  
  .confirm-btn {
    background-color: #1976d2 !important; /* Bleu Material */
    color: white !important;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 14px;
  }
  
  .confirm-btn:hover {
    background-color: #1565c0 !important; /* Effet au survol */
  }
  